<%= form_for(post) do |f| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :제목 %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :내용 %>
    <%= f.text_area :content %>
  </div>

  <div class="field">
    <%= f.label :이름 %>
    <%= f.text_area :name %>
  </div>

  <div class="field">
    <%= f.label :연락처 %>
    <%= f.text_area :phone %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_area :email %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
