<p id="notice"><%= notice %></p>

<h1>jin kyu 게시판</h1>


<div class="panel panel-default">
    <!-- Default panel contents -->
    <table class="table table-hover">
        <thead>
            <tr>
                <th class="col-md-1"></th>
                <th class="col-md-2">제목</th>
                <th class="col-md-2">이름</th>
                <th class="col-md-2">연락처</th>
                <th class="col-md-2">Email</th>
                <th class="col-md-1">작성일</th>
            </tr>
        </thead>

        <tbody>
            <% @posts.each do |post| %>
            <tr>
                <td><%= post.id %></td>
                <td><%= link_to truncate(post.title,:length => 15), post %></td>
                <td><%= post.name %></td>
                <td><%= post.phone %></td>
                <td><%= post.email %></td>
                <td><%= post.created_at %></td>
                <td><%= link_to '수정', edit_post_path(post) %></td>
                <td><%= link_to '삭제', post_path(post), method: :delete %></td>
            </tr>
            <% end %>
        </tbody>
    </table>
</div>

<%= link_to '글쓰기', new_post_path %>
